<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO do list</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <!-- <h1>yah! it is <%= kindofday %></h1>-->

    <!-- <%if(kindofday === "Saturday" || kindofday === "Sunday"){%>
        <h1 style="color: purple;"><%= kindofday %> To Do List</h1>
    <%}else{%>
        <h1 style="color: blue;"><%= kindofday %> To Do List</h1>
    <%}%> -->

    <div class="box" id="heading">
        <h1>
            <%= kindofday %>
        </h1>
    </div>

    <div class="box">
        <!-- <div class="item"> -->
            
            <!-- <input type="checkbox">
            <p>Buy Food</p>
            <input type="checkbox">
            <p>Make Food</p>
            <input type="checkbox">
            <p>Eat Food</p> -->

        <!-- </div> -->
        <!-- <li><%= newlistitem %></li> -->
        <% for(var i=0;i<newlistitem.length;i++){ %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= newlistitem[i] %>
                </p>
            </div>
        <% } %>

        <form class="item" action="/" method="POST">
            <input type="text" name="newitem"    placeholder="New Item" autocomplete="off">
            <button type="submit" name="button" value=<%= kindofday %>>+</button>
        </form>

    </div>

</body>

</html>